.darkMode {
    background-color: #313131;
    min-height: 88vh;
    .grid > section {
        background-color: #343434;
        > h1 {
            color: #f0f0f0;
        }
    }
}
.lightMode {
    background-color: #f0f0f0;
    min-height: 88vh;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    row-gap: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    > section {
        color: #313131;
        width: 85%;
        margin: auto;
        background-color: white;
        padding: 0px 20px 15px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
        transition: all 0.2s ease-in-out;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: auto;
            display: block;
        }
        > p {
            color: #919191;
            font-weight: bolder;
        }
        > div {
            display: flex;
            justify-content: center;
            gap: 5px;
            margin-top: 10px;
            p {
                padding: 2px 8px;
                border-radius: 3px;
                color: white;
            }
        }
    }
    > section:hover {
        box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
        transform: translate3d(0px, -1px, 0px);
    }
}
