.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ef1514;
    padding: 0px 50px;
    height: 12vh;
    img {
        width: 150px;
    }
    .search {
        display: flex;
        align-items: center;
        color: #222224;
        background-color: #f0f0f0;
        padding: 7px;
        border-radius: 20px;
        width: 30%;
        gap: 10px;
        img {
            width: 20px;
        }
        input {
            outline: none;
            background-color: transparent;
            border: none;
            font-size: larger;
            width: 100%;
        }
    }
    .switch {
        font-size: 14px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #adb5bd;
        transition: 0.4s;
        border-radius: 30px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.27em;
        bottom: 0.25em;
        background-color: #adb5bd;
        transition: 0.4s;
    }
    input:checked + .slider {
        background-color: #313131;
        border: 1px solid #313131;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #313131;
    }
    input:checked + .slider:before {
        transform: translateX(1.4em);
        background-color: #fff;
    }
}
