.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    h1,
    h2 {
        font-weight: 500;
        font-size: xx-large;
    }
}
.body {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    img {
        object-fit: contain;
    }
    > div > div:first-child {
        background-color: #dc2d50;
        width: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: fit-content;
        padding: 25px;
        border-radius: 10px;
        > div:nth-child(1) {
            padding-bottom: 30px;
        }
        > div {
            h3 {
                color: white;
                font-size: 16px;
                font-weight: 500;
                padding-bottom: 7px;
            }
            p {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
    > div > div:nth-child(2),
    > div > div:nth-child(3),
    > div > div:nth-child(4) {
        h2 {
            font-weight: 500;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            p {
                padding: 5px 0px;
                border-radius: 3px;
                color: white;
                text-align: center;
            }
        }
    }
}
